# Python
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/venv/
**/.venv/

# Node
**/node_modules/
**/dist/

# Environment
**/.env
**/.env.local
**/.env.*.local

# Logs
**/logs/
**/*.log

# Database
**/*.sqlite

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
**/*.sw?

# Docker
.dockerignore
docker-compose*.yml
