# 环境变量（不能上传）
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
backend/venv/
.venv/

# 日志
logs/
*.log

# 数据库
*.sqlite

# Node
node_modules/
frontend/dist/

# 系统文件
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker 本地覆写（不上传）
docker-compose.override.yml

# Alembic不需要上传的内容
backend/migrations/versions/*.pyc